---
import TableOfContents from './TableOfContents.astro';
---

{
  Astro.locals.starlightRoute.toc && (
    <div class="theme-black-sidebar-toc">
      <TableOfContents />
    </div>
  )
}

<style>
  .theme-black-sidebar-toc {
    padding-top: 1rem;
    height: calc(100vh - 3.5rem);
    margin-top: -1.5rem;
    top: 5rem;
    position: sticky;
  }

</style>
